<style>
h1 {
    color:white;
    font-weight: bold;
}
div {
    height: 100%;
    width: 100%;
    background-color: black;
}
</style>

<div>
<h1><%= current_user.alerts.count %></h1>
<h1>
<%= current_user.alerts.inspe %>
</h1>
</div>