<link href="https://fonts.googleapis.com/css?family=Monoton|Raleway+Dots" rel="stylesheet">

<div class="jumbotron">
  <h1 class="jumbo">About Crypto Alerts<h1>
  <div class="paragraph">
    <p class="lead">For our newcomers to cryptocurrrency, we wanted to make sure that we also provided links to helpful material about cryptocurrencies.</p>
  </div>
  <hr class="my-4">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Warning!</strong> Clicking the button below will take you to another page, only click it if you're ready to leave Cryptoalerts.
</div>
    <a id="aboutpage" class="btn btn-primary btn-lg" href="https://blockgeeks.com/guides/what-is-cryptocurrency/" role="button">Learn more</a>
  </p>
</div>
