<!DOCTYPE HTML>
<html lang="en">
<head>

<title>Insert web page title here</title>

<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<meta name="generator" content="thesitewizard.com's Layout Wizard 1.1.1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Monoton|Raleway+Dots" rel="stylesheet">
</head>

<body>

<div id="header_container">

	<div id="crypto_header">
	<!-- start of header section: insert your logo, etc, here -->

	<h1>Cryptoalerts </h1>
  <P>The most user friendly place to track cryptocurreny on the web!</P>
	<p>&nbsp;</p>

	<!-- end of header section: insert your logo, etc, above this line -->
	</div>
</div>
  <div class="description-body">
    <p>
      This website was created in an effort to allow for greater accessibility to cryptocurrency information.
      We know that for most people our daily lives keep us so busy it's hard to spare that extra moment in time even for things we are interested in.
      In order to bridge the gap for people who are interested in cryptocurreny, CryptoAlerts will allow you to create a profile and track your favorite
      currencies, while receiving simple updates by phone.
    </p>

	</div>
	<div id="tswsidecol">
	<div id="tswsideproper">
	<!-- start of side column: insert your navigation menu, etc, here -->

	<p>

	</p>

	<!-- end of side column: put your navigation menu, etc, above this line -->
	</div>
	</div>
	<div id="tswfooter">
	<!-- start of footer section: insert your copyright notice, etc, here -->


	<!-- end of footer section: insert your copyright notice, etc, above this line -->
	</div>


 </div>

</body>

</html>
