
@import "bootstrap";
@import url( 'https://fonts.googleapis.com/css?family=Poiret+One');


.navbar-dark .navbar-brand {
  text-transform: uppercase;
  font-family: 'Monoton', cursive;
  color: white;
  font-size: 1em;
  align-content: center;
  margin-top: 9px;
  margin-left: 6px;
}

.navbar-expand-sm  {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

#navbarSupportedContent ul li a {
  color: white;
}



.navbar-toggler  {
  background-color: rgba(0,0,0,.7);
}
