@import "bootstrap";
.navbar-inverse .navbar-brand {
  text-transform: uppercase;
  font-family: 'Monoton', cursive;
  color: white;
  font-size: 1em;
  align-content: center;
  margin-top: 9px;
  margin-left: 6px;
}

@media only screen and (min-width: 400px) {
  .navbar-expand-sm {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    border-bottom: solid .5px white;
  }
}

#navbarSupportedContent ul li a {
  color: white;
}



.navbar-toggler  {
  background-color: rgba(0,0,0,.7);
}
