// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.settings {
  font-family: 'Cormorant Unicase', serif;
  margin:auto;
  text-align: center;
}

label {
  font-family: 'Cormorant Unicase', serif;
}

form {
  font-family: 'Cormorant Unicase', serif;
  border: solid 1px black;
}

.btn-primary {
  color: black;
  background-color: ghostwhite;
}
